body.catalog .header {
     position: relative;
     background-color: #5bb4cf;
}

body.catalog .header-icon {
     display: none;
}

body.catalog .content{padding-bottom:1em;color:#5e5e5e;}

body.catalog .content p{font-size:1.5em;line-height:1.4em;margin-bottom:2em;}

.catalogs {
     
}
 
.catalog-link {
	margin-bottom:1.9em;
	display:inline-block;
	text-align:center;
     margin-right: 3em;
     margin-bottom: 4em;
     text-align: left;
     vertical-align: top;
}

.catalog-link img{
	border:1px solid #c2c2c2;
	height:25.9em;
}

.catalog-link span {
     display: block;
     margin-top: .8em;
     font-size: 1.5em;
     max-width: 13.333em;
     line-height: 1.5em;
     color: #107ab2;
}


@media screen and (min-width: 600px) {
	
     body.catalog .header {
          padding-left: 7.8em;
     }
     body.catalog .header-icon {
          display: block;
          position: absolute;
          top: 2em;
          left: 2em;
          width: 4.6em;
          height: 3.8em;
     }
     body.catalog .header-icon img {
          width: 100%;
     }
     
     .catalog-link {margin-bottom:1.9em;display:inline-block;}
	body.catalog .content{padding-bottom:4.5em;color:#5e5e5e;}
}


