/* MY INFO */
body.my-info dl{
	border-bottom:1px solid #CCCCCC;
	color:#999;
	line-height:2em;
	padding: 1em 0;
	margin-bottom:2em;
}
body.my-info dl dt{
	font-size:1.1em;
	width:8em;
	float:left;
	clear:left;
}
body.my-info dl dd{
	font-size:1.1em;
}

body.my-info-editpassword form {
	width: 70%;
	min-width: 30em;
	/*padding: 3.2em 5em;*/
	margin: 2em auto;
	/*background-color: #E9E9E9;*/
}
/*
body.my-info-editpassword form {
	border:1px solid #CCCCCC;
	width:50%;
	min-width:30em;
	padding:1em;
	margin:2em auto;
	
	-webkit-box-shadow: .4em .4em .5em rgba(50, 50, 50, 0.44);
	-moz-box-shadow:    .4em .4em .5em rgba(50, 50, 50, 0.44);
	box-shadow:         .4em .4em .5em rgba(50, 50, 50, 0.44);	
	
     -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
    -khtml-border-radius: .8em;
    border-radius: .8em;
	
	background-color:#E9E9E9;
}
*/

@media screen and (min-width: 600px) {	
	

body.my-info-editpassword form label{
	width:40%;
	max-width: inherit;
}
body.my-info-editpassword form input{
	width:60%;
}

}
